In [1]:
>>> print("Hello World")

Hello World

>>> prnt("Hello World")

SyntaxError: invalid syntax (<ipython-input-1-d856a09508d7>, line 3)

In [4]:
# Addition
6 + 4

#10

# Subtraction
100 - 80

#20

# Multiplication
9 * 8

#72

# Division
200 / 24

#8.333333333333334

# Exponents
8**4

#4096

4096

In [6]:
"""
These
are
multi-line
comments
"""
print("hello")

hello

In [8]:
type("I ate a banana")



type(123)




type(98.6)

float

In [10]:
print("Hello " + "everyone!")
print("Hello " * 8)
str(586)

Hello everyone!
Hello Hello Hello Hello Hello Hello Hello Hello

'586'

In [11]:
float(137)
int(596.89)
int("42")
float("42.97")
int(float("42.97"))

42

In [12]:
x = 4
y = 5
x + y

z = x + y
print(z)

9

In [14]:
dogs = 40
cats = 25
rabbits = 10
 
shelter_length = 30
shelter_width = 25
 
total_animals = dogs + cats + rabbits
sqft = shelter_length * shelter_width
 
print("Total number of animals:", total_animals)
 
#Total number of animals: 75
 
print("Total shelter square feet:", sqft)
 
#Total shelter square feet: 750
 
print("Square feet per animal:", sqft/total_animals)
 
#Square feet per animal: 10.0

Total number of animals: 75
Total shelter square feet: 750
Square feet per animal: 10.0

In [16]:
first_name = input("Enter your first name: ")


print("Hello,", first_name)

Enter your first name: tony
Hello, tony

In [17]:
len("automobile")

10

In [20]:
lst = ['The', 'man', 'in', 'the', 'blue', 'suit']
lst[0]
lst[-1]
lst[2:4]

lst.append('jacket')
print(lst)

['The', 'man', 'in', 'the', 'blue', 'suit', 'jacket']

In [21]:
nested = [['A', 'man'], ['a', 'plan'], ['a', 'canal'], ['Panama', '!']]
 
nested[-1][0]

'Panama'

In [24]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
print(sum(num_list))
    
# Mean
print(sum(num_list)/len(num_list))

# Minimum
print(min(num_list))

# Maximum
print(max(num_list))

2204
275.5
1
896

In [25]:
# Sort Ascending
num_list.sort
print(num_list)

# Sort Descending
num_list.sort(reverse=True)
print(num_list)

 
# Reversing
num_list.reverse()
print(num_list)

[34, 12, 93, 783, 330, 896, 1, 55]
[896, 783, 330, 93, 55, 34, 12, 1]
[1, 12, 34, 55, 93, 330, 783, 896]

In [26]:
#Dictionaries


ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

ages.keys()

dict_keys(['Brian', 'Amy', 'Darlene', 'Ralph', 'Jordan', 'Stephanie'])

In [27]:
ages.values()

dict_values([23, 22, 47, 32, 28, 35])

In [28]:
ages['Vanessa'] = 30
print(ages)

{'Brian': 23, 'Amy': 22, 'Darlene': 47, 'Ralph': 32, 'Jordan': 28, 'Stephanie': 35, 'Vanessa': 30}

In [29]:
#Tuples

b = (1,2,3,4,5)
b.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
b = (1,2,3,4,5)
b.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [31]:
b = (1,2,3,4,5)
b.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [33]:
#Sets

dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
uniques = set(dupe_list)

print(uniques)

{1, 2, 3, 4, 5}

In [34]:
#Control Flow: Conditional Logic and Loops

happy = True
print("Happy variable is set to ", happy)

Happy variable is set to  True

In [35]:
print(5 + 5 == 10)
print('apple' != 'orange')
print(100 > 75)
print(93 < 80)
print(3 in [1,2,3,4,5])
print(3 not in [1,2,3,4,5])

True
True
True
False
True
False

In [36]:
print((5 + 5 == 10) & ('apple' != 'orange'))
print((100 > 75) & (93 < 80))
print((100 > 75) | (93 < 80))
print((93 < 80) | (3 not in [1,2,3,4,5]))

True
False
True
False

In [37]:
number = 10
 
if number < 10:
    print("Number is less than 10")
elif number > 10:
    print("Number is greater than 10")
elif number == 10:
    print("Number is exactly 10")
else:
    print("Number is probably not a number at all")

Number is exactly 10

In [39]:
commute = 30
rain = False
traffic = True
 
if (rain == True) | (traffic == True):
    if (rain == True) & (traffic == True):
        total_commute = commute + 15 + 20
    elif (rain == True) & (traffic == False):
        total_commute = commute + 15
    elif (rain == False) & (traffic == True):
        total_commute = commute + 20
else:
    total_commute = commute
print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 50 minutes.

In [40]:
len(range(5, 15))

10

In [41]:
for i in range(5, 15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [42]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
 
for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
pineapple

In [43]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}
 
for name, age in ages.items():
    print(name, "is", age, "years old.")

Brian is 23 years old.
Amy is 22 years old.
Darlene is 47 years old.
Ralph is 32 years old.
Jordan is 28 years old.
Stephanie is 35 years old.

In [44]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
 
total = 0
 
for i in num_list:
    total += i
    print("Total is currently", total)

Total is currently 34
Total is currently 46
Total is currently 139
Total is currently 922
Total is currently 1252
Total is currently 2148
Total is currently 2149
Total is currently 2204

In [45]:
new_list = []
 
for i in range(1, 11):
    square = i**2
    new_list.append(square)
 
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
total_time = 60
minutes_elapsed = 0
wait = 15
 
print("Cake is in the oven.")
minutes_elapsed += wait
 
while minutes_elapsed < total_time:
    print("Cake is not done yet.")
    minutes_elapsed += wait
 
print("It's done. Let's eat cake!")

Cake is in the oven.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
It's done. Let's eat cake!

In [48]:
#Working with Files in Python


import os

os.getcwd()

'/Users/akohn/Desktop/Data Analytics/Python Exercises'

In [49]:
root = 'C:'
level_1 = 'ironhack'
level_2 = 'module_0'
level_3 = 'python-beginner'
level_4 = 'data'
 
os.path.join(root, level_1, level_2, level_3, level_4)

'C:/ironhack/module_0/python-beginner/data'

In [50]:
folder_name = 'test_ironhack_python'
 
if os.path.exists(folder_name) == False:
    os.makedirs(folder_name)

In [51]:
with open("example.txt", "w") as f:
    f.write("Hello World! \n")
    f.write("How are you? \n")
    f.write("I'm fine.")

In [52]:
with open("example.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        print(line)

Hello World!

How are you?

I'm fine.

In [57]:
data = []
 
with open("/Users/akohn/Desktop/weight_height.csv", "r") as f:
    lines = f.readlines()
    for line in lines:
        data.append(line.split()[0].split(","))

print(data)
#does not display list like in the example

[['gender', 'actual_weight', 'actual_height', 'reported_weight', 'reported_height'], ['M', '77', '182', '77', '180'], ['F', '58', '161', '51', '159'], ['F', '53', '161', '54', '158'], ['M', '68', '177', '70', '175'], ['F', '59', '157', '59', '155'], ['M', '76', '170', '76', '165'], ['M', '76', '167', '77', '165'], ['M', '69', '186', '73', '180'], ['M', '71', '178', '71', '175'], ['M', '65', '171', '64', '170'], ['M', '70', '175', '75', '174'], ['F', '166', '57', '56', '163'], ['F', '51', '161', '52', '158'], ['F', '64', '168', '64', '165'], ['F', '52', '163', '57', '160'], ['F', '65', '166', '66', '165'], ['M', '92', '187', '101', '185'], ['F', '62', '168', '62', '165'], ['M', '76', '197', '75', '200'], ['F', '61', '175', '61', '171'], ['M', '119', '180', '124', '178'], ['F', '61', '170', '61', '170'], ['M', '65', '175', '66', '173'], ['M', '66', '173', '70', '170'], ['F', '54', '171', '59', '168'], ['F', '50', '166', '50', '165'], ['F', '63', '169', '61', '168'], ['F', '58', '166', '60', '160'], ['F', '39', '157', '41', '153'], ['M', '101', '183', '100', '180'], ['F', '71', '166', '71', '165'], ['M', '75', '178', '73', '175'], ['M', '79', '173', '76', '173'], ['F', '52', '164', '52', '161'], ['F', '68', '169', '63', '170'], ['M', '64', '176', '65', '175'], ['F', '56', '166', '54', '165'], ['M', '69', '174', '69', '171'], ['M', '88', '178', '86', '175'], ['M', '65', '187', '67', '188'], ['F', '54', '164', '53', '160'], ['M', '80', '178', '80', '178'], ['F', '63', '163', '59', '159'], ['M', '78', '183', '80', '180'], ['M', '85', '179', '82', '175'], ['F', '54', '160', '55', '158'], ['F', '54', '174', '56', '173'], ['F', '75', '162', '75', '158'], ['M', '82', '182', '85', '183'], ['F', '56', '165', '57', '163'], ['M', '74', '169', '73', '170'], ['M', '102', '185', '107', '185'], ['M', '65', '176', '64', '172'], ['M', '73', '183', '74', '180'], ['M', '75', '172', '70', '169'], ['M', '57', '173', '58', '170'], ['M', '68', '165', '69', '165'], ['M', '71', '177', '71', '170'], ['M', '71', '180', '76', '175'], ['F', '78', '173', '75', '169'], ['M', '97', '189', '98', '185'], ['F', '60', '162', '59', '160'], ['F', '64', '165', '63', '163'], ['F', '64', '164', '62', '161'], ['F', '52', '158', '51', '155'], ['M', '80', '178', '76', '175'], ['F', '62', '175', '61', '171'], ['M', '66', '173', '66', '175'], ['F', '55', '165', '54', '163'], ['F', '56', '163', '57', '159'], ['F', '50', '166', '50', '161'], ['F', '50', '160', '55', '150'], ['F', '63', '160', '64', '158'], ['M', '69', '182', '70', '180'], ['M', '69', '183', '70', '183'], ['F', '61', '165', '60', '163'], ['M', '55', '168', '56', '170'], ['F', '53', '169', '52', '175'], ['F', '60', '167', '55', '163'], ['F', '56', '170', '56', '170'], ['M', '59', '182', '61', '183'], ['M', '62', '178', '66', '175'], ['F', '53', '165', '53', '165'], ['F', '57', '163', '59', '160'], ['F', '57', '162', '56', '160'], ['M', '70', '173', '68', '170'], ['F', '56', '161', '56', '161'], ['M', '84', '184', '86', '183'], ['M', '69', '180', '71', '180'], ['M', '88', '189', '87', '185'], ['F', '56', '165', '57', '160'], ['M', '103', '185', '101', '182'], ['F', '50', '169', '50', '165'], ['F', '52', '159', '52', '153'], ['F', '55', '164', '55', '163'], ['M', '63', '178', '63', '175'], ['F', '47', '163', '47', '160'], ['F', '45', '163', '45', '160'], ['F', '62', '175', '63', '173'], ['F', '53', '164', '51', '160'], ['F', '52', '152', '51', '150'], ['F', '57', '167', '55', '164'], ['F', '64', '166', '64', '165'], ['F', '59', '166', '55', '163'], ['M', '84', '183', '90', '183'], ['M', '79', '179', '79', '171'], ['F', '55', '174', '57', '171'], ['M', '67', '179', '67', '179'], ['F', '76', '167', '77', '165'], ['F', '62', '168', '62', '163'], ['M', '83', '184', '83', '181'], ['M', '96', '184', '94', '183'], ['M', '75', '169', '76', '165'], ['M', '65', '178', '66', '178'], ['M', '78', '178', '77', '175'], ['M', '69', '167', '73', '165'], ['F', '68', '178', '68', '175'], ['F', '55', '165', '55', '163'], ['F', '52', '169', '56', 'NA'], ['F', '45', '157', '45', '153'], ['F', '68', '171', '68', '169'], ['F', '44', '157', '44', '155'], ['F', '62', '166', '61', '163'], ['M', '87', '185', '89', '185'], ['F', '56', '160', '53', '158'], ['F', '50', '148', '47', '148'], ['M', '83', '177', '84', '175'], ['F', '53', '162', '53', '160'], ['F', '64', '172', '62', '168'], ['M', '90', '188', '91', '185'], ['M', '85', '191', '83', '188'], ['M', '66', '175', '68', '175'], ['F', '52', '163', '53', '160'], ['F', '53', '165', '55', '163'], ['F', '54', '176', '55', '176'], ['F', '64', '171', '66', '171'], ['F', '55', '160', '55', '155'], ['F', '55', '165', '55', '165'], ['F', '59', '157', '55', '158'], ['F', '70', '173', '67', '170'], ['M', '88', '184', '86', '183'], ['F', '57', '168', '58', '165'], ['F', '47', '162', '47', '160'], ['F', '47', '150', '45', '152'], ['F', '48', '163', '44', '160'], ['M', '54', '169', '58', '165'], ['M', '69', '172', '68', '174'], ['F', '57', '167', '56', '165'], ['F', '51', '163', '50', '160'], ['F', '54', '161', '54', '160'], ['F', '53', '162', '52', '158'], ['F', '59', '172', '58', '171'], ['M', '56', '163', '58', '161'], ['F', '59', '159', '59', '155'], ['F', '63', '170', '62', '168'], ['F', '66', '166', '66', '165'], ['M', '96', '191', '95', '188'], ['F', '53', '158', '50', '155'], ['M', '76', '169', '75', '165'], ['M', '61', '170', '61', '170'], ['M', '62', '168', '64', '168'], ['M', '71', '178', '68', '178'], ['M', '66', '170', '67', '165'], ['M', '81', '178', '82', '175'], ['M', '68', '174', '68', '173'], ['M', '80', '176', '78', '175'], ['F', '63', '165', '59', '160'], ['M', '70', '173', '70', '173'], ['F', '56', '162', '56', '160'], ['F', '60', '172', '55', '168'], ['F', '58', '169', '54', '166'], ['M', '76', '183', '75', '180'], ['F', '50', '158', '49', '155'], ['M', '88', '185', '93', '188'], ['M', '89', '173', '86', '173'], ['F', '59', '164', '59', '165'], ['F', '51', '156', '51', '158'], ['F', '62', '164', '61', '161'], ['M', '74', '175', '71', '175'], ['M', '83', '180', '80', '180'], ['M', '90', '181', '91', '178'], ['M', '79', '177', '81', '178']]

In [58]:
male_heights = []
female_heights = []
 
for person in data[1:]:
    height = int(person[2])
    if person[0] == 'M':
        male_heights.append(height)
    elif person[0] == 'F':
        female_heights.append(height)
 
avg_male_height = sum(male_heights)/len(male_heights)
avg_female_height = sum(female_heights)/len(female_heights)
 
print("Avg male height:", avg_male_height)
print("Avg female height", avg_female_height)

Avg male height: 178.0121951219512
Avg female height 163.7